// Variáveis de Cores e Estilo
$bg-color: #121212;
$card-bg: #1a1a1a;
$input-bg: #242424;
$primary-color: #33A8CC;
$text-main: #ffffff;
$text-secondary: #888888;
$border-radius: 8px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif, system-ui;
}

body {
    background-color: $bg-color;
    color: $text-main;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 1100px;
}

// Header
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    h1 { font-size: 2.5rem; margin-bottom: 5px; }
    p { color: $text-secondary; font-size: 1.1rem; }

}

// Botões Genéricos
button {
    cursor: pointer;
    border: none;
    transition: filter 0.5s;
    &:hover { filter: brightness(1.2); }
}

.btn-icon {
    background: $input-bg;
    color: $text-secondary;
    padding: 10px;
    border-radius: 6px;
}

.btn-primary {
    background: $primary-color;
    color: white;
    padding: 12px 25px;
    border-radius: $border-radius;
    font-weight: 600;
    display: flex;
    align-items: center;
    
}



.content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

// Cards
.card {
    background: $card-bg;
    padding: 30px;
    border-radius: 12px;

    &--saved {
        h3 { margin-bottom: 25px; font-weight: 400; color: $text-secondary; }
    }
}

// Inputs e Grupos
.input-group {
    margin-bottom: 25px;
    label { display: block; margin-bottom: 10px; color: $text-secondary; }
}

.input-wrapper {
    display: flex;
    gap: 10px;
    
    input { flex: 1; }
}

input {
    background: $input-bg;
    border: none;
    padding: 15px;
    border-radius: $border-radius;
    color: $text-secondary;
    font-size: 0.9rem;
    width: 100%;
    outline: none;
}

// Histórico
.history-title {
    font-size: 2rem;
    margin: 40px 0 20px;
}

.history-item {
    
    gap: 10px;
    margin-bottom: 15px;
    max-height: 200px;    
    overflow-y: auto;
    scrollbar-color: #33A8CC #1a1a1a; /* Cor do 'polegar' e cor do 'trilho' */
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

// Senhas Salvas (Coluna Direita)
.saved-item {
    margin-bottom: 30px;

    .tag {
        outline: none;
        border-bottom: 1px solid $primary-color;
        color: $primary-color;
        padding: 5px 12px; 
        margin-bottom: 10px;
        background-color: transparent;
    }
}

ul,li{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 10px;
}


